{% extends 'layout.html' %}

{% block content %}

{% load static %}

<!-- Hero Section -->
<header class="row bg-black">
  <div class="col-md-4">
    <img src="{% static 'portfolio/profile.jpeg' %}" />
  </div>

  <div class="col-md-8 my-auto p-4">
    <h1>I am <strong>Juan Carlos Aguilar </strong></h1>
    <h3>I'm a Python FullStack Developer</h3>
    <p>Electronic Engineer from Francisco José de Caldas University with an excellent attitude and interest in the areas of telematics, control and programming. With a solid base of knowledge in basic formal sciences, computer sciences and advanced electronics. I've got aptitudes to work in a team; imagination and initiative to develop new ideas and easy to make decisions. Ability to learn quickly and excellent treatment with people.
    <br>
    <br>
      Currently I focus on web programming with Java and python technologies, JavaScript, typescript, React and related technologies, python, Django, Django Rest Framework, with knowledge in Git, Relational Databases (PostgresSQL), HTML5, CSS, Bootstrap 5</p>
    <a class="btn btn-primary btn-lg rounded-0 my-3" href="{% static 'portfolio/C_V__Juan_Carlos_Aguilar.pdf' %}">Download my CV</a>
  </div>
</header>

<!-- Porfolio Section -->
<div class="row my-4 text-center">

  <h3>My Projects</h3>
  {% comment %} <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, aperiam?</p> {% endcomment %}

  {% for project in projects %}
  <div class="col-md-4 p-4">
    <div class="card bg-black card-project">
      <img src="{{project.image.url }}" class="card-img-top" />

      <div class="card-body">

        <h2>{{ project.title }}</h2>
        <p>{{ project.description }}</p>

        {% if project.url %}
        <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="__blank" rel="noreferrer">Visit the
          Project</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}